.containers {
    padding: 50px;
}

/* Style for the sidebar */

.sidebar {
    float: left;
    width: 20%;
    padding: 20px;
    height: 100%;
}

/* Style for the main content */
.main-content {
    float: left;
    width: 80%;
    padding: 20px;
}

/* Style for the question links in the sidebar */
.sidebar .question-boxes {
    display: flex;
    flex-wrap: wrap;
}

.sidebar .question-box:hover {
    background-color: #f0f0f0; /* Add a background color on hover */
}

.sidebar .question-box {
    flex: 0 0 calc(25% - 10px) !important; /* Three boxes per row with some spacing */
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.sidebar .question-box a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block; /* Make the link fill the entire box */
    height: 100%; /* Ensure the link takes up the full height of the box */
}

.sidebar .question-box a:hover {
    color: #0066cc;
}

/* Style for question containers */
.question-container {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}

/* ---- Results.php ---- */
.progress-container {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.progress-bar {
    border-radius: 8px; /* Adjust border-radius for rounded corners */
}

.percentage-text {
    font-size: 18px; /* Adjust font size */
    font-weight: bold;
    padding-top: 40px
}

/* Add additional styling as needed for input fields and buttons */


